.dropdown-box {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  transition: ease-in-out .2s;
  cursor: pointer;
  }

.dropdown-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  cursor: pointer;
  height: 40px;
  padding: 5px 0 4px 15px;
  border: 2px solid $accent-700;
  border-radius: 4px;
  background: $neutral-100;
  color: $neutral-700;
  position: relative;
  transition: ease-in-out .2s;
  z-index: 1;
}

.arrow-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  cursor: pointer;
  height: 40px;
  pointer-events: none;
  z-index: 1;
  border-radius: 0 5px 5px 0;
  transition: ease-in-out .2s;
  background: $accent-700;
}

.arrow-icon svg {
  fill: $neutral-50;

}

.dropdown-select:hover {
  border-color: $accent-900;
  background: $neutral-50;
  box-shadow: 0 3px 5px $neutral-500;
  transform: translate(0, -2px);
}

.dropdown-box:hover .arrow-icon {
  background: $accent-900;
  transform: translate(0, -2px);
}
