/* Neutral */
$neutral-50: #faf7f6;
$neutral-100: #eee7e5;
$neutral-200: #d3c7c3;
$neutral-300: #c1b6b2;
$neutral-400: #a9a19e;
$neutral-500: #8f8684;
$neutral-600: #6e6562;
$neutral-700: #58504f;
$neutral-800: #3f3a39;
$neutral-900: #221f1f;
$neutral-1000: #141923;

/* Primary: Limestone */
$primary-50: #fdf8ed;
$primary-100: #F4EBD4;
$primary-200: #F0E1BA;
$primary-300: #E4D2A3;
$primary-400: #D9C48D;
$primary-500: #C5AC6D;
$primary-600: #B59C5B;
$primary-700: #A58C4B;
$primary-800: #967B37;
$primary-900: #76622F;

/* Accent: Ocean */
$accent-10: #ebf0ff;
$accent-50: #CFD9F8;
$accent-100: #B5C4F1;
$accent-200: #9CAFEA;
$accent-300: #8095D6;
$accent-400: #657AB9;
$accent-500: #5064A0;
$accent-600: #405288;
$accent-700: #2B3B6A;
$accent-800: #1B284E;
$accent-900: #0B132B;

/* Accent 2: Clay */
$clay-50: #F4E4DE;
$clay-100: #F2D2C8;
$clay-200: #EFBEAF;
$clay-300: #F5AD96;
$clay-400: #EF987E;
$clay-500: #ED8767;
$clay-600: #EE7752;
$clay-700: #E55B30;
$clay-800: #DE481A;
$clay-900: #C93000;

/* Accent 3: Dirt */
$dirt-50: #feeee0;
$dirt-100: #dfc8b6;
$dirt-200: #cab098;
$dirt-300: #bf9e83;
$dirt-400: #a07953;
$dirt-500: #906643;
$dirt-600: #744b29;
$dirt-700: #623713;
$dirt-800: #49260a;
$dirt-900: #2e1704;

/* Accent 4: Earth */
$earth-50: #DEF7EB;
$earth-100: #BFEDD6;
$earth-200: #A5DDC2;
$earth-300: #89C3A7;
$earth-400: #77B094;
$earth-500: #6EA088;
$earth-600: #608B76;
$earth-700: #517664;
$earth-800: #3E5F4F;
$earth-900: #345344;

/* Trial Colors */

$oryell-400: #fbf8f0;
$oryell-400: #e9b72e;

$patblue-100: #eeeeff;
$patblue-200: #cfcff7;
$patblue-300: #adade8;
$patblue-400: #8585d3;
$patblue-500: #5656ad;
$patblue-600: #45459b;
$patblue-700: #282870;
$patblue-800: #191944;
$patblue-900: #0d0d31;

$eerie-100: #f3f5fa;
$eerie-200: #e1e4ea;
$eerie-300: #caced5;
$eerie-400: #a2a7af;
$eerie-500: #878b95;
$eerie-600: #636974;
$eerie-700: #434954;
$eerie-800: #2d333b;
$eerie-900: #141923;

$maxred-400: #CF211B;



/* new colors */

/* Nobel(text+basic) */
$nobel-50: #f8f8f8;
$nobel-100: #f1efef;
$nobel-200: #e5e3e3;
$nobel-300: #d2cfcf;
$nobel-400: #b5b0b0;
$nobel-500: #9d9696;
$nobel-600: #847e7e;
$nobel-700: #6d6868;
$nobel-800: #5c5858;
$nobel-900: #504c4c;
$nobel-950: #292626;

/* Pink Lady (accent/action) */

$pink-lady-50: #fff9ed;
$pink-lady-100: #fff2d9;
$pink-lady-200: #fedeaa;
$pink-lady-300: #fdc674;
$pink-lady-400: #fba33c;
$pink-lady-500: #f98716;
$pink-lady-600: #ea6b0c;
$pink-lady-700: #c2510c;
$pink-lady-800: #9a4012;
$pink-lady-900: #7c3612;
$pink-lady-950: #431907;




/* Transition */
$trans: ease-in-out 0.15s;