
@media screen and (max-width: 768px) {
  .side-panel-search {
    & .search-header {
      padding: 8px 8px 0;
    } & .input-wrapper, & .dropdown-box {
      margin: 0 0 8px;
    } & .search-icon {
        right: 16px;
        top: 16px;
    } & .search-results-wraps {
        height: calc(100vh - 185px);
        overflow: auto;
    } & .search-results {
        padding: 0 8px 8px;
    } & .results-item {
        margin: 8px 0 0;
    } & .search-results-item {
        & h6 {
            margin: 0 0 0;
            padding: 4px 0 0;
            font-size: 16px;
        }
    } & .list-cat {
        margin: 0 8px 0 0;
    } & .hr {
        margin-top: 8px;
    } & .category-wrapper .cat-icon-wrapper {
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
  }
  p {
    font-size: 14px;
  }
}
