.sidePanel-toggler {
    position: relative;
    z-index: 1000;
  }
  
  .home {
    width: 100%;
    height: 100%;
  }
  
  .map-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    transition: transform 0.3s ease-in-out;
  }
  
  .leaflet-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
  }
  .shifted {
    width: 40vw;
    & .leaflet-container {
      width: 60vw;
    }
  }
  
  .leaflet-marker-icon {
    transition: 0.2s ease-in-out;
  }
  .leaflet-marker-icon:hover {
    filter: drop-shadow(0 -2px 3px rgb(0, 0, 0, 0.8));
  
  }
  
  .slide-enter-active,
  .slide-leave-active {
    transition: transform 0.3s ease-in-out;
  }
  
  .slide-enter {
    transform: translateX(100%);
  }
  
  .slide-leave-to {
    transform: translateX(100%);
  }
  
  .side-panel-wrapper {
    position: fixed;
    top: 0;
    right: 0px;
    height: 100%;
    background-color: $primary-200;
    width: 60vw;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-left: 2px solid $neutral-900;
    transition: transform 0.3s ease-in-out;
    & .side-panel {
      display: flex;
      height: 100%;
      position: relative;
      background: $primary-200;
      top: 0;
      right: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    & .side-panel-details {
      display: flex;
      flex-direction: column;
      height: calc(100% - 30px);
    }
    & .deselect-marker-button {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 1000;
      background: $neutral-100;
      color: $neutral-800;
      padding: 5px;
      font-size: 28px;
      line-height: 16px;
      border: 2px solid $neutral-600;
      border-radius: 6px;
    } & .deselect-marker-button:hover {
      background: $accent-50;
      border-color: $accent-700;
      color: $accent-700
    }
  }
  .side-panel-toggler {
      background: $neutral-100;
      border: 2px solid $neutral-600;
      color: $neutral-800;
      padding: 5px 7px;
      z-index: -1;
      position: absolute;
      top: calc(50vh - 10px);
      left: -45px;
      border-radius: 5px 5px 0 0;
      transform: rotate(-90deg);
      transition: $trans;
      &:hover {
        background: $accent-50;
        border-color: $accent-700;
        color: $accent-700;
        transform: rotate(-90deg) scale(1.05);
        translate: -1px;
      }
  }
  .side-panel-search {
    width: 100%;
    display: flex;
    flex-direction: column;
    & .search-header {
        padding: 20px 20px 0;
    } & .search-results {
        list-style-type: none;
        padding: 0;
        overflow: auto;
        padding: 0 60px 0 40px;
    } & .search-results-item {
        padding: 0;
        margin: 0;
        // border-top: 1px solid $neutral-600;
        cursor: pointer;
        list-style-type: none;
    }  .results-item {
      display: flex;
      align-items: center;
      margin: 20px 0 0;
    } & .results-item-img {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 60px;
      max-height: 60px;
      overflow: hidden;
      border-radius: 10px;
      margin: 0 20px 0 0;
    } & .results-item-img img {
      object-fit: cover;
      max-height: 60px;
    } .list-cat {
      margin: 0 20px 0 0;
    } & .search-results-item h6 {
        margin: 0 0 10px;
    } & .search-results-item p {
        margin: 0;
    } & .search-results-item:hover h6 {
        text-decoration: underline;
        color: $accent-700;
    } & .hr {
      margin-top: 20px;
      width: 100%;
      height: 2px;
      background: $neutral-600;
      position: relative;
    } 
  }
  .slide-in {
    transform: translateX(100%);
  }
  
  .side-panel-open .side-panel-wrapper {
    transform: translateX(100%);
  }
  
  .input-wrapper {
    margin: 0 0 20px;
  }
  
  .input-wrapper input {
    transition: ease-in-out .2s;
    width: calc(100% - 19px);
    height: 100%;
    padding: 0 0 0 15px;
    background: $neutral-100;
    height: 40px;
    border: 2px solid $accent-700;
    border-radius: 5px;
    & :hover {
      background: $neutral-50;
      box-shadow: 0 3px 5px $neutral-500;
      transform: translate(0, -2px);
    } & :focus {
      background: $neutral-50;
    }
  }
  .input-wrapper input:hover {
    background: $neutral-50;
    box-shadow: 0 3px 5px $neutral-500;
    transform: translate(0, -2px);
  }
  .input-wrapper input:focus {
    background: $neutral-50;
  }
  .search-icon {
    // padding: 4px 7px 4px 4px;
    // width: 1.5rem;
    transition: ease-in-out .2s;
    // height: 1.5rem;
    pointer-events: none; /* Make the icon non-interactive */
    width: 26px;
    height: 26px;
    pointer-events: none;
    position: absolute;
    right: 28px;
    top: 28px;
  }
  .input-wrapper:hover .search-icon {
    transform: translate(0, -2px);
  }
  .wis-logo {
    margin: 10px;
    width: 60px;
    height: 60px;
    z-index: 10000;
    pointer-events: none;
    position: fixed;
  }
  
  //tabs
  .entry-header {
    z-index: 1;
    position: sticky;
    top: 0;
    background: $primary-200;
    box-shadow: 0 5px 6px -6px rgba(0, 0, 0, 0.4);
    margin: 0;
    & .hr {
      width: 100%;
      height: 2px;
      background: $neutral-800;
      position: relative;
      z-index: -1;
    } & h4 {
      margin: 20px 20px 30px;
    }
  }
  
  .entry-content {
    overflow: auto;
    padding: 0px 60px 0px 40px;
    & img {
      width: 100%;
      max-height: 40vh;
      object-fit: cover;
      margin: 10px 0 0 0;
      border-radius: 10px;
    } & .img-caption {
      margin: 0;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-style: italic;
      color: $neutral-500;
    }
  }
  
  .entry-section {
    padding-top: 0;
  }
  
  .tabs {
    display: flex;
    position: relative;
    padding: 0 20px;
    bottom: -2px;
    & .tab {
      // flex: 1;
      padding: 10px 20px 8px;
      border: 2px solid $neutral-600;
      background-color: $neutral-100;
      transition: ease-in-out .2s;
      color: $neutral-800;
      cursor: pointer;
      border-radius: 10px 10px 0 0;
    } & .tab:hover {
      background: $accent-50;
      color: $accent-700;
      border-color: $accent-700;
    } & .active-tab {
      /* Add your active tab button styling here */
      color: $neutral-50;
      border-color: $accent-700;
      background: $accent-700;
    }
  }
  .list-icon {
    width: 20px;
      height: 20px;
  }
  .category-wrapper {
    display: inline-flex;
    flex-direction: row;
    margin: 0 20px 20px;
    justify-content: flex-start;
    align-items: center;
    & .cat-icon-wrapper {
      width: 20px;
      height: 20px;
    //   background: $neutral-50;
    //   border: 2px solid $neutral-600;
      margin-right: 10px;
      border-radius: 40px;
      padding: 0;
    }
  }